<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basket</title>
</head>
<body>
    <h1>Basket</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
        {% for item in basket %}
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.price * item.quantity }}</td>
        <td>
            <form action="/delete_from_basket" method="post">
                <input type="hidden" name="item_id" value="{{ item.item_id }}">
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
        </td>
    </tr>
{% endfor %}
    </table>
    <p>Total Price: {{ total_price }}</p>
</body>
</html>
